/* Estilo global da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #c7c7c7; /* Cor do fundo da trilha da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: #6c2eaa; /* Cor da barra de rolagem */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b1a5a; /* Cor da barra de rolagem quando o mouse está sobre ela */
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f4edff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
